{% extends 'base.html' %}
{% block title%}<title>Trading Pro - About Us</title>{% endblock %}
{%block content%}
<!-- About Us Section -->
<section class="about-section">
  <h2>About Us</h2>
  <p>Welcome to Trading Platform, your reliable partner in the world of financial trading. Our mission is to provide an
    accessible, high-quality trading experience to traders of all levels.</p>
  <p>Founded in 2024, we've grown to become a leading platform offering real-time data, advanced tools, and expert
    insights. Our team of seasoned professionals is dedicated to empowering you with the knowledge and resources you
    need to make informed trading decisions.</p>
  <p>We're committed to innovation and continuously improving our platform to meet the evolving needs of our users.
    Thank you for choosing Trading Platform as your trusted trading ally.</p>
</section>
{% endblock %}