<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}

    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    {% block css %}

    {% endblock %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="{{ url_for('static', filename = 'logo.png') }}" class="logo" />
      </div>
      <ul class="nav-list">
        <li>
          <a href="http://127.0.0.1:5000">Home</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/news">News</a>
        </li>
        {% if usr %}
          <li>
            <a href="http://127.0.0.1:5000/market">Markets</a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/plot">Plot</a>
          </li>
        {% endif %}
        <li>
          <a href="http://127.0.0.1:5000/contact">Contact</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/about">About Us</a>
        </li>
        <li>
          <form class="navbar-search-form" action="/search" method="get">
            <input type="text" name="search_symbol" placeholder="Search Stock Symbol" required />
          </form>
        </li>
      </ul>
      <!-- Login/User Button -->
      <ul class="login-list">
        {% if usr %}
          <li>
            <a href="http://127.0.0.1:5000/dashboard">{{ usr }}</a>
          </li>
        {% else %}
          <li>
            <a href="http://127.0.0.1:5000/login">Login</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div class="marquee-container">
      <div class="marquee" aria-live="polite">
        <marquee>
          <a href="/performers">📈 Top Gainers</a>
          {% for data in gl[0]%}
          <a href="/performers">{{data['symbol']}}</a>
          <a href="/performers" id = "gainers">+{{data['diff']}}</a>
          {% endfor %}
          <a href="/performers">📉 Top Losers</a>
          {% for data in gl[1]%}
          <a href="/performers">{{data['symbol']}}</a>
          <a href="/performers" id = "losers">{{data['diff']}}</a>
          {% endfor %}
        </marquee>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- Modal to display flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-modal" class="modal-overlay">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Notification</h4>
              <button type="button" class="modal-close" onclick="closeModal()">x</button>
            </div>
            <div class="modal-body">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <script>
      function closeModal() {
        document.getElementById('flash-modal').style.display = 'none'
      }
      /* Slider in filters */
      function updateSliderValue() {
        document.getElementById('open-min-value').textContent = document.getElementById('open-min').value
        document.getElementById('open-max-value').textContent = document.getElementById('open-max').value
        document.getElementById('last-min-value').textContent = document.getElementById('last-min').value
        document.getElementById('last-max-value').textContent = document.getElementById('last-max').value
        document.getElementById('volume-min-value').textContent = document.getElementById('volume-min').value
      }
      document.getElementById('volume-min').addEventListener('input', updateSliderValue)
      document.getElementById('open-min').addEventListener('input', updateSliderValue)
      document.getElementById('open-max').addEventListener('input', updateSliderValue)
      document.getElementById('last-min').addEventListener('input', updateSliderValue)
      document.getElementById('last-max').addEventListener('input', updateSliderValue)
      
      function resetFilters() {
        document.getElementById('filter-form').reset()
      }
    </script>

    <footer class="footer">
      <p>© 2024 VPTrading. All rights reserved.</p>
    </footer>
  </body>
</html>
