{% extends "base.html" %}

{% block title%}<title>Trading Pro - Home</title>{% endblock %}

{% block content %}
   <!-- Hero Section -->
   <section class="hero">
       <div class="hero-content">
           <h1>Welcome to VPTrading </h1>
           <p>Your gateway to the world of trading.</p>
           {% if usr  %}
           <button class="btn"><a href="/nifty50">NIFTY50</a></button>
           <!-- <button class="btn"><a href="/Sensex">SENSEX</a></button> -->
           {% else %}
           <button class="btn"><a href="/register">Get Started</a></button>
           {% endif %}
       </div>
   </section>

   <!-- Features Section -->
   <section class="features">
       <div class="feature">
           <h3>Real-Time Data</h3>
           <p>Access the latest NSE stock and index data.</p>
       </div>
       <div class="feature">
           <h3>Advanced Analytics</h3>
           <p>Use our tools to make informed decisions.</p>
       </div>
       <div class="feature">
           <h3>24/7 Support</h3>
           <p>Our team is here to help you anytime.</p>
       </div>
   </section>

   {% endblock %}
   