{% extends 'base.html' %}
{% block title%}<title>Trading Pro - Market</title>{% endblock %}
     {%block content%}

    <main class="market-main">
      <section class="market-data">
        <h2>Market Data</h2>
        <p>View the latest market trends and data.</p>
        <div class="market-table">
          <div class="table-header">
            <div>Name-Symbol</div>
            <div>Last Price</div>
            <div>IntraDay High</div>
            <div>IntraDay Low</div>
          </div>
          {% for stock in stocks %}
            <div class="table-row">
              <div>
                <a href="/market/{{ stock.Name }}">{{ stock.Name }}</a>
              </div>
              <div>{{ stock.LastPrice }}</div>
              <div>{{ stock.IntraDayHigh }}</div>
              <div>{{ stock.IntraDayLow }}</div>
            </div>
          {% endfor %}
        </div>
      </section>

      <aside class="market-filters">
        <h3>Filters</h3>
        <form id="filter-form" method="get">
        <div class="filter-form">
          <label for="pe-ratio">Min P/E Ratio:</label>
          <input type="number" id="peratio" name="pe-ratio" />
          <label for="last-price">Min Last Price:</label>
          <input type="number" id="lastprice" name="last-price" />
          <div class="filter-buttons">
            <button type="submit" class="filter-button">Apply Filters</button>
            <button type="submit" name="reset" class="filter-button reset">Reset</button>
          </div>
        </div>
        </form>
      </aside>
    </main>
    {% endblock %}