

{% extends 'base.html' %}
{% block title %}<title>Trading Pro - Plot Stocks</title>{% endblock %}
{% block content %}

<div class="plot-page-container">
    <div class="plot-display-container">
        {% if pdv %}
        {{ pdv | safe }}
        {% endif %}
    </div>

    {% if data %}
        <div class="stock-info-container">
            
            {% for sym in data %}
            <div class='stock-info'>
                <h3>{{ sym }} Information</h3>
                <p>Opening Price: {{ data[sym].iloc[0]['OPEN'] }}</p>
                <p>Closing Price: {{ data[sym].iloc[0]['CLOSE'] }}</p>
            </div>
            {% endfor %}
            
            <form method="post" class="reset-form">
                <button type="submit" name="reset" class="btn reset-btn">Reset</button>
            </form>
        </div>
    {% else %}

    <div class="stock-input-container">
        <h1>Add Stock Symbols</h1>
        {% if num %}
        <form method="post" class="stock-form">
            {% for i in range(num) %}
            <div class="stock-input">
                <label for="stock{{ i }}">Stock {{ i + 1 }}:</label>
                <input type="text" name="stock{{ i }}" id="stock{{ i }}" required>
            </div>
            {% endfor %}
            <input type="hidden" name="num" value="{{ num }}">
            <input type="hidden" name="duration" value="{{ duration }}">
            <input type="hidden" name="et" value="{{ et }}">
            <button type="submit" name="submit" class="btn">Generate Plot</button>
        </form>
        <form method="post" class="reset-form">
            <button type="submit" name="reset" class="btn reset-btn">Reset</button>
        </form>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}
