{% extends 'base.html' %}
{% block content %}
<section>
    <h1>Add Stock Symbols</h1>

    {% if error %}
    <script>
        alert('Enter valid symbol')
    </script>
    {% endif %}

    {% if num %}
        <form action = /plot/stocks method = "post">
        {% for i in range(num) %}
            <label for="stock{{ i }}">Stock Symbol {{ i + 1 }}:</label>
            <input type="text" name="stock{{ i }}" required>
        {% endfor %}
        <input type = "hidden" name = "num" value="{{num}}">
        <input type = "hidden" name = "duration" value="{{duration}}">
        <input type = "hidden" name = "et" value="{{et}}">
        <button type = "submit" name = "submit">Generate Plot</button>
        </form>
    {% endif %}
    <br><br>
        <form action = /plot/stocks method = "post">
            <button type = "submit" name = "reset">Reset</button>
        </form>
    <br><br>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div>
        {% if pdv %}
            {{pdv | safe}}
        {% endif %}
    </div>

</section>
{% endblock %}