{% extends 'base.html' %}
{% block title%}<title>Trading Pro - Performers</title>{% endblock %}
{%block content%}

<main class="market-main">
    <section class="market-data">
        <h2>Top Gainers and Losers</h2>
        <p>View the current best and worst performing stocks in NSE.</p>
        <div class="market-table">
            <div class="table-header">
                <div>Name-Symbol</div>
                <div>Opening Price</div>
                <div>Closing Price</div>
                <div>Last Traded Price</div>
                <div>Previous Closing Price</div>
                <div>IntraDay High</div>
                <div>IntraDay Low</div>
                <div>52 Wk. High</div>
                <div>52 Wk. Low</div>
                <div>Volume</div>
                <div>Value</div>
                <div>No of Trades</div>
            </div>
            {% for stock in gainers %}
            <div class="table-row">
                <div>
                    <a href="/market/{{ stock['symbol'] }}">{{ stock['symbol'] }}</a>
                </div>
                <div>{{ stock['OPEN'] }}</div>
                <div>{{ stock['CLOSE'] }}</div>
                <div>{{ stock['LTP'] }}</div>
                <div>{{ stock['PREV. CLOSE'] }}</div>
                <div>{{ stock['HIGH'] }}</div>
                <div>{{ stock['LOW'] }}</div>
                <div>{{ stock['52W H'] }}</div>
                <div>{{ stock['52W L'] }}</div>
                <div>{{ stock['VOLUME'] }}</div>
                <div>{{ stock['VALUE'] }}</div>
                <div>{{ stock['NO OF TRADES'] }}</div>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="market-table">
            <div class="table-header">
                <div>Name-Symbol</div>
                <div>Opening Price</div>
                <div>Closing Price</div>
                <div>Last Traded Price</div>
                <div>Previous Closing Price</div>
                <div>IntraDay High</div>
                <div>IntraDay Low</div>
                <div>52 Wk. High</div>
                <div>52 Wk. Low</div>
                <div>Volume</div>
                <div>Value</div>
                <div>No of Trades</div>
            </div>
            {% for stock in losers %}
            <div class="table-row">
                <div>
                    <a href="/market/{{ stock['symbol'] }}">{{ stock['symbol'] }}</a>
                </div>
                <div>{{ stock['OPEN'] }}</div>
                <div>{{ stock['CLOSE'] }}</div>
                <div>{{ stock['LTP'] }}</div>
                <div>{{ stock['PREV. CLOSE'] }}</div>
                <div>{{ stock['HIGH'] }}</div>
                <div>{{ stock['LOW'] }}</div>
                <div>{{ stock['52W H'] }}</div>
                <div>{{ stock['52W L'] }}</div>
                <div>{{ stock['VOLUME'] }}</div>
                <div>{{ stock['VALUE'] }}</div>
                <div>{{ stock['NO OF TRADES'] }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}