{% extends 'base.html' %}
{% block content %}
  <section>
    <h2>Data Visualization</h2>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}

    <h1>Choose your plot</h1>

    <form action="/plot" method="post">

      <label for="num_stocks">Number of stocks you want to plot:</label>
      <input type="number" name="num_stocks" id = "num_stocks" required />
      <br /><br />

      <label for="duration">Time duration: </label>
      <select name="duration" id="duration">
        <option value="week">Last Week</option>
        <option value="month">Last Month</option>
        <option value="year">Last Year</option>
        <option value="fiveyear">Last 5 Years</option>
      </select required>
      <br /><br />

      <label for="options">Display a graph of:</label>
      <select name="options" id="options">
        <option value="OPEN">Opening Price</option>
        <option value="CLOSE">Closing Price</option>
        <option value="LTP">Last Traded Price</option>
      </select>
      <br /><br />

      <button type="submit">Add Stock Symbols</button>
    </form>
  </section>
{% endblock %}
