{% extends 'base.html' %}
{% block title%}<title>Trading Pro - Register</title>{% endblock %}
     {%block content%}
    <!-- Registration Section -->
    <section class="registration-section">
        <div class="form-container">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div class="form-field">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn">Register</button>
                <p class="form-text">
                    Already have an account? <a href="/login">Login here</a>
                </p>
            </form>
        </div>
    </section>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flash-modal" class="modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <span class="close-button" onclick="document.getElementById('flash-modal').style.display='none'">&times;</span>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}

{% endblock %}