<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome, {{ username }}!</h1><br>
        <p>This is your dashboard.</p><br>
        <a href="/plot" class="plot-button">Plot stocks vs time</a><br>
        <a href="/market/1" class="market-button">View market data</a><br>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</body>
</html>
