{% extends 'base.html' %}
{% block title %}
  <title>Trading Pro - Dashboard</title>
{% endblock %}
{% block content %}
  <div class="dashboard-main-container">
    <div class="dashboard-header">
      <h1>Welcome, {{ username }}!</h1>
      <div class="dashboard-logout">
        <a href="/logout" class="logout-button">Logout</a>
      </div>
    </div>

    <div class="dashboard-content">
      <div class="dashboard-news">
        <h2>Latest News</h2>
        <ul class="news-list">
          {% for article in news_data %}
            <li>
              <a href="{{ article['url'] }}">{{ article['title'] }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="dashboard-watchlist">
        <h2>Your Watchlist</h2>
        <form action="{{ url_for('update_watchlist') }}" method="post" class="add-symbol-form">
          <input type="text" name="symbol" placeholder="Enter Symbol" required />
          <button type="submit" name="action" value="add">Add to Watchlist</button>
        </form>
        <div class="watchlist-items">
          {% for symbol in watchlist_symbols %}
            <div class="watchlist-item">
              <h3><a href="/market/{{ live_data[symbol]['symbol'] }}">{{ live_data[symbol]['symbol'] }}</a></h3>
              <p>Open: {{ live_data[symbol]['OPEN'] }}</p>

              {% if live_data[symbol]['sign'] == 1 %}
                <p style="color: green ;">Gain: +{{ live_data[symbol]['diff'] }}%</p>
              {% else %}
                <p style="color: red;">Lose: {{ live_data[symbol]['diff'] }}%</p>
              {% endif %}
              <form action="{{ url_for('update_watchlist') }}" method="post">
                <input type="hidden" name="symbol" value="{{ symbol }}" />
                <button type="submit" name="action" value="remove">Remove</button>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
